body { background-color: #dad6d6;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   justify-items: center;
   background-color: #dad6d6
   
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  li a:hover {
    background-color: rgb(156, 154, 154);
  }

  
  .box {
    width:
    height: 
    justify-content: :
    
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  img {
    display: 
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;  
    font-family: Arial, Helvetica, sans-serif;
  }
    
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

h2  { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    text-align: center;
    }

h3  { 
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: bold;
        text-align: left;
        }
        
p  { font-family: Arial, Helvetica, sans-serif;
font-size: normal;
font-weight: normal;
text-align: center;}


.prompt {
	display: block;
	font-size: 20px;
}

.btn {
	margin: 0 20px 0 20px;
}

.btn-strongly-agree {
	color: #050505;
	font-weight: bold;
}

.btn-strongly-agree.active,
.btn-strongly-agree:active,
.btn-strongly-agree:focus,
.btn-strongly-agree:active:focus,
.btn-strongly-agree.active:focus,
.btn-strongly-agree:hover
 {
	background-color: #48e248;
}

.btn-agree {
	color: #050505;
}

.btn-agree.active,
.btn-agree:active,
.btn-agree:focus,
.btn-agree:active:focus,
.btn-agree.active:focus,
.btn-agree:hover {
	background-color: rgba(153, 214, 141, 0.5);
}

.btn-disagree {
	color: #050505;
}

.btn-disagree.active,
.btn-disagree:active,
.btn-disagree:focus,
.btn-disagree:active:focus,
.btn-disagree.active:focus,
.btn-disagree:hover {
	background-color: rgba(226, 129, 129, 0.5);
}

.btn-strongly-disagree {
	color: #050505;
	font-weight: bold;
}

.btn-strongly-disagree.active,
.btn-strongly-disagree:active,
.btn-strongly-disagree:focus,
.btn-strongly-disagree:active:focus,
.btn-strongly-disagree.active:focus,
.btn-strongly-disagree:hover {
	background-color: #e73f3f;
}

.bottom {
	margin-bottom: 100px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* RESULTS */
.results {
	margin-bottom: 40px;
	margin-top: 40px;
}

